[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
scrapy = "*"
bpython = "*"
pandas = "*"
requests-html = "*"
scrapy-playwright = "*"

[dev-packages]

[requires]
python_version = "3.9"
